h1{
    background-color:chocolate;
    color:aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{

    background-color: blueviolet;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}